{{- define "main" }}

    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

    {{- $paginator := .Paginate $pages }}
    {{- $term := .Data.Term }}
    {{- range $index, $page := $paginator.Pages }}
        <article class="post-entry">
            {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
            <header class="entry-header">
                <h2>
                    {{- .Title }}
                    {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
                </h2>
            </header>
            {{- if (ne (.Param "hideSummary") true) }}
                <div class="entry-content">
                    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
                </div>
            {{- end }}
            {{- if not (.Param "hideMeta") }}
                <footer class="entry-footer">
                    {{- partial "post_meta.html" . -}}
                </footer>
            {{- end }}
            <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
        </article>
    {{- end }}

    {{- if gt $paginator.TotalPages 1 }}
        <!--pagination-->
        <div class="pagination">
            <div class="container-fluid">
                <div class="pagination-area">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination-list">
                                <ul class="list-inline">
                                    {{- if $paginator.HasPrev }}
                                        <li><a href="{{ $paginator.Prev.URL | absURL }}"><i
                                                        class="iconfont">&#xe685;</i></a></li>
                                    {{- end }}

                                    <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                                    {{- range $index, $pager := $paginator.Pagers }}
                                        {{- if eq $paginator.PageNumber $pager.PageNumber}}
                                            <li><a href="{{ $pager.URL | absURL }}" class="active">
                                                    {{ $pager.PageNumber }}
                                                </a></li>
                                        {{- else }}
                                            <li><a href="{{ $pager.URL | absURL }}">
                                                    {{ $pager.PageNumber }}
                                                </a></li>
                                        {{- end }}
                                    {{- end}}

                                    {{- if $paginator.HasNext }}
                                        <li><a href="{{ $paginator.Next.URL | absURL }}"><i
                                                        class="iconfont">&#xe687;</i></a></li>
                                    {{- end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{- end }}


{{- end }}{{- /* end main */ -}}
