<!-- widget categories -->
<div class="widget rounded">
    <div class="widget-header text-center">
        <h3 class="widget-title">类别</h3>
        <img src="https://static.ziying.site/%E5%8D%9A%E5%AE%A2%E5%9B%BE%E7%89%87/wave.svg" class="wave" alt="wave" />
    </div>
    <div class="widget-content">
        <ul class="list">
            {{ range $key, $value := .Site.Taxonomies.categories }}
                <li><a href="{{ printf `categories/%s` $key | absURL }}">{{ $key }}</a><span>{{ len $value.Pages }}</span></li>
            {{ end }}
        </ul>
    </div>
</div>