<!-- featured post large -->
<div class="post featured-post-lg">
    <div class="details clearfix">
        <a href="{{ `categories/我的开源软件` | absURL }}" class="category-badge">我的开源软件</a>
        <h2 class="post-title"><a href="{{ `media-downloader` | absURL }}">media downloader 一键下载在线视频</a></h2>
        <ul class="meta list-inline mb-0">
            <li class="list-inline-item">士子☀</li>
            <li class="list-inline-item">2022年1月1日</li>
        </ul>
    </div>
    <a href="{{ `media-downloader` | absURL }}">
        <div class="thumb rounded">
            <div class="inner data-bg-image" data-bg-image="http://static.ziying.site/%E5%8D%9A%E5%AE%A2%E5%9B%BE%E7%89%87/singed.jpg"></div>
        </div>
    </a>
</div>