<!-- footer -->
<footer>
    <div class="container-xl">
        <div class="footer-inner">
            <div class="row d-flex align-items-center gy-4">
                <!-- copyright text -->
                <div class="col-md-4">
                    <span class="copyright">
                        <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></span>
                    </span>
                </div>



                <!-- social icons -->
                <div class="col-md-4 text-center">
                    <span><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">豫ICP备20012967号-1</a></span>
                    <span>|</span>
                    <span><a href="http://www.platformzero.cn">妙哉</a></span>
                    <span>|</span>
                    <span><a href="https://www.sulvblog.cn">Sulv's Blog</a></span>
                </div>

                <!-- go to top button -->
                <div class="col-md-4">
                    <a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>回到顶部</a>
                </div>
            </div>
        </div>
    </div>
</footer>