<!-- widget post carousel -->
<div class="widget rounded">
    <div class="widget-header text-center">
        <h3 class="widget-title">我的开源软件</h3>
        <img src="https://static.ziying.site/%E5%8D%9A%E5%AE%A2%E5%9B%BE%E7%89%87/wave.svg" class="wave" alt="wave" />
    </div>
    <div class="widget-content">
        <div class="post-carousel-widget">
            {{ range $key, $value := .Site.Taxonomies.categories }}
            {{ if eq $key "我的开源软件" }}
            {{ range $value.Pages }}
            <!-- post -->
            <div class="post post-carousel">
                <div class="thumb rounded">
                    <a href="{{ printf `categories/%s` (index .Params.categories 0) | absURL }}" class="category-badge position-absolute">广受好评</a>
                    <a href="{{ .RelPermalink }}">
                        <div class="inner">
                            <img src="http://static.ziying.site/%E5%8D%9A%E5%AE%A2%E5%9B%BE%E7%89%87/singed.jpg" alt="post-title" />
                        </div>
                    </a>
                </div>
                <h5 class="post-title mb-0 mt-4"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                <ul class="meta list-inline mt-2 mb-0">
                    <li class="list-inline-item">{{ .Date.Format "2006年1月2日" }}</li>
                </ul>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
            </div>
        </div>
        <!-- carousel arrows -->
        <div class="slick-arrows-bot">
            <button type="button" data-role="none" class="carousel-botNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
            <button type="button" data-role="none" class="carousel-botNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
        </div>
    </div>
</div>